extends layout

block content
  h1 Model: #{bike.model}

  p #[strong Manufacturer:]
    a(href=bike.manufacturer.url) #{bike.manufacturer.name}
  p #[strong Description:] #{bike.description}
  p #[strong Type:]
    each val, index in bike.type
      a(href=val.url) #{val.name}
  p #[strong Size:] #{bike.size}
  p #[strong Price:] #{bike.price}
  
     
  hr
  p
    a(href=bike.url+'/delete') Delete bike
  p
    a(href=bike.url+'/update') Update bike

