extends layout

block content
  h1 #{title}: #{manufacturer.name}
  

  if manufacturer_bikes.length

    p #[strong Delete the following bikes before attempting to delete this manufacturer.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Bikes

      dl
      each bike in manufacturer_bikes
        dt
          a(href=bike.url) #{bike.model} #{bike.size} #{bike._id}
        dd #{bike.description}

  else
    p Do you really want to delete this Manufacturer?

    form(method='POST' action='')
      div.form-group
        input#manufacturerid.form-control(type='hidden',name='manufacturerid', required='true', value=manufacturer._id )

      button.btn.btn-primary(type='submit') Delete
