extends layout

block content

  h1 Manufacturer: #{manufacturer.name}
  
  div(style='margin-left:20px;margin-top:20px')

    p #{manufacturer.description}

    h4 Bikes:   

    dl
      each bike in manufacturer_bikes
        dt
          a(href=bike.url) #{bike.model} 
          | (#{bike.size})
        

      else
        p This manufacturer has no bikes.
    hr
    p
     a(href=manufacturer.url+'/delete') Delete manufacturer
    p
     a(href=manufacturer.url+'/update') Update manufacturer

