extends layout

block content

  h1 Type: #{type.name}

  div(style='margin-left:20px;margin-top:20px')

    p #{type.description}

    h4 Bikes

    dl
      each bike in type_bikes
        dt
          a(href=bike.url) #{bike.model} 
          | (#{bike.size})

      else
        p This type has no bikes
    
    hr
    p
     a(href=type.url+'/delete') Delete type
    p
     a(href=type.url+'/update') Update type
